
*{
padding:0;
margin:0;
}

li {
list-style: none;

}

a {
text-decoration: none;
color: #2aa2d4;
}

#header_middle h1 {
display: inline-block;
padding-right: 10px;
border-right: 1px solid black;
}

.slogan {
display: inline-block;
}

.content_position {
max-width: 1000px;
margin: 0 auto;
padding: 0 20px;
}

.content_position:after {
        content: "";
        display: block;
        clear: both;
        visibility: hidden;
        height: 0;
        line-height: 0;
}


#topbar {
background-color: #2aa2d4;
min-height: 55px;
}

.topbar_socio {
display: inline-block;
float: left;
height: 33px;
width: 33px;
background-color: white;
border-radius: 100%;
margin: 10px;
}

.topbar_socio:hover {
background-color: LightBlue;
}
.topbar_socio a {
display: inline-block;
margin: 25% 25%;
}

.topbar_navigation{
display: inline-block;
float: right;
margin: 19px 0;
}

.topbar_navigation a:hover {
color: black;
}


.topbar_navigation a {
color: white;
font: 12px 'Georgia Regular';
margin-left: 5px;
padding-left: 6px;
}

.topbar_navigation {
padding-right: 10px;
border-left: 1px solid white;
}
.topbar_navigation:last-child {
border-left:none;
}


#header_middle {
background-color: white;
min-height: 110px;
}
.add {
min-height: 25px;
display: block;
margin-bottom: 30px;
}
.add a {
display:block;
width: 30px;
height: 26px;
float: right;
background-color: #2aa2d4;
color: white;
text-align: center;
margin-right: 10px;
border-radius:  0 0 3px 3px;
}
#logo {
display: inline-block;
float:left;
}


.search {
display: inline-block;
float:right;
position: relative;
width:374px;
margin: 0px;

}

input[type="search"] {
    padding: 7px;
    width: 300px;
    border: 1px solid #ccc;
		-webkit-border-top-left-radius: 5px;
		x-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
    background: #2a2a2a;
	color: white;
	height: 32px;

}
 
input[type="submit"] {
    margin: 0;
	width: 74px;
	height: 32px;
    border: none;
		-webkit-border-top-right-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
    background: #2aa2d4;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
	position:absolute;
	
	
}
#navigation {
background-color: #2a2a2a;
border-bottom: 3px solid black;
}

.main_navigation {
text-transform: uppercase;
display: inline-block;
padding: 10px 0px;
border-bottom: 3px solid #2a2a2a;

}

.main_navigation:hover {
border-bottom: 3px solid #2aa2d4;
}
.main_navigation a {
display: block;
border-left: 1px solid #404040;
padding: 0 15px;
color: #999999
}

/************************************/

.carousel-items, .carousel-labels {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.carousel-item {
	display: block;
	float: left;
}

.carousel-wrapper {
	width: 960px;
	height: 350px;
	position: relative;
	background-color: #eee;
	overflow: hidden;

}
.carousel-items {
	width: 500%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	transition: left .5s ease-out;
	-o-transition: left .5s ease-out;
	-ms-transition: left .5s ease-out;
	-moz-transition: left .5s ease-out;
	-webkit-transition: left .5s ease-out;
}
.carousel-item {
	width: 20%;
	height: 100%;
	color: white;
	text-align: center;
}


.carousel-labels {
	position: absolute;
	z-index: 2;
	left: 0;
	bottom: 0;
	height: 20px;
	width: 100%;
	padding: 10px 0 10px 15px;
	text-align: left;
}
.carousel-selector {
	display: none;
}
.carousel-label {
	display: inline-block;
}
.carousel-label label {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: white;
	display: block;
	cursor: pointer;
}

#slide1:checked ~ .carousel-items {
	left: 0;
}
#slide1:checked ~ .carousel-labels .carousel-label:nth-child(1) label {
	background-color: black;
}
#slide2:checked ~ .carousel-items {
	left: -100%;
}
#slide2:checked ~ .carousel-labels .carousel-label:nth-child(2) label {
	background-color: black;
}
#slide3:checked ~ .carousel-items {
	left: -200%;
}
#slide3:checked ~ .carousel-labels .carousel-label:nth-child(3) label {
	background-color: black;
}

#slide4:checked ~ .carousel-items {
	left: -300%;
}
#slide4:checked ~ .carousel-labels .carousel-label:nth-child(4) label {
	background-color: black;
}
#slide5:checked ~ .carousel-items {
	left: -400%;
}
#slide5:checked ~ .carousel-labels .carousel-label:nth-child(5) label {
	background-color: black;
}


/**********************************/
#slider{
	
	height: 350px;
	padding-right: 0px;
}

.bxslider_item 
{position: relative ;
height: 350px;
}



.overlay
 {
	position: absolute;
	background-color: rgb(0, 0, 0);
	opacity: 0.6;
	
	right: 100%;
	top: 50%;
	width: 50%;
	height: 130px;
	color:white;
	padding: 20px;
	}
	
.overlay h2 {
padding-bottom: 25px;
}	
.overlay p {
height: 65px;

overflow: hidden;
text-overflow: ellipsis;
}

#content {
min-height: 900px;
}
.content::after {
    content:'';
    display: table;
    clear: left;
}

#intro, #welcome, #work,#team {
min-height: 150px;
display: inline-block;
}

.box_title {
font: 25px  lighter 'Georgia';
padding: 0 0  15px 0;
}
#intro {
float: left;
}
#welcome {float: left;
margin-right: 20px;
}
#intro div:first-child {
margin-left: 0px;
}

.content_title {
border-bottom: 1px solid #e6e6e6;
margin-bottom: 20px;
padding-bottom: 15px;
}

.intro_icon {
float: left;
max-height: 48px;
max-width: 48px;
overflow: hidden;
padding-top:15px;
}

.intro_item {
padding-top:60px;
margin-left: 20px;
width: 225px;
min-height: 150px;
float: left; 
}

.intro_item h3 {
padding-left: 60px;
padding-bottom:15px;
color: #2aa2d4;

}
.intro_descr {
padding-left: 60px;
}


.content_box {
float:left;
width: 225px;
min-height: 270px;
margin-right: 20px;
}
.content_box img{
padding-bottom: 20px;
}

#team h2{
display: inline-block;
width: 225px;
float: left;
border: none;
}

#team a:after, #welcome a:after {
content: '»';
}

#footer {
background-color: #1c1c1c;
min-height: 468px;
border-top: 5px solid grey;
}

#footer_content {
min-height: 320px;
}
#footer_content li:first-child {
padding-left: 0px;
}

.top_arrow  {
text-align: center;
display: block;
margin: 0 auto;
padding: 10px;
color: #666666;
border-bottom: 1px solid #232323;
margin-bottom: 40px;
}

.top_arrow p {
color: #666666
}

#footer h3 {
	color: white;
	text-transform: uppercase;
	font-size: 12px;
	padding-bottom: 22px;
}
#company p {
	padding-bottom: 10px;
}

.blog_post {
	min-height: 60px;

	border-bottom: 1px solid #232323; 
	margin-bottom: 15px;
	}

.blog_post img {
	float: left;
	width: 48px;
	}
	
.blog_descr {
font-size: 12px;
width: 150px;
height: 48px;
padding-left: 20%

}

.blog_data {
font-size: 10px;
min-height: 1em;
}

#links li {
	padding-bottom: 8px;
	border-bottom: 1px solid #232323; 
	margin-bottom: 8px;
}
#links li a:before {
content: '»';
padding-right: 8px;
color: grey;
}

.footer_column {
width: 21%;
min-height: 253px;
padding-left: 5%;
float: left;
color: #666666;
}
.footer_column div:first-child {
padding-left: 0;
}

.input_field, #contact textarea {
margin-bottom: 10px;
background-color: grey;
border: none;
padding: 5px;
width: 200px;
}

#contact textarea {
height: 100px;
resize: vertical;
}

#copyright {

min-height:60px;
}


/* @MEDIA*/
@media (max-width:)
{
.footer_column {
width: 28%;}

}
@media (max-width: 768px)
{

.search, 
#logo {
width: 100%;
text-align:center;
}
.slogan {
text-align: left;
}
.search {
padding: 20px 0;
}


#intro {
padding-bottom: 20px;
}
.intro_item
{margin-left: 0px;
width: 100%;
min-height: 60px;
padding-top:10px;
}

.footer_column {

width: 45%;

padding-left:0px}

}



@media (max-width:600px)
{
.topbar_socio, 
.topbar_navigation,
.add a, 
.search
{float:none;
}
#topbar {
text-align: center;
}
.search, 
#logo {
width: 100%;
text-align:center;
}
.slogan {
text-align: left;
}
.search {
padding: 20px 0;
}

.main_navigation {
display: block;
text-align: center;
padding: 5px 0;
}

.content_box  {
width: 100%;
text-align:center;
}
#team h2 {
border-bottom: 1px solid #e6e6e6;
width: 100%;
} 
.content_title
{text-align: center;}

.footer_column {
width:100%;
min-height: 150px;
padding-left: 0;
padding-bottom: 10px;
}


.blog_post img {
margin-right: 10px;
}
.blog_descr {
float: none;
width:100%;

}

.input_field, #contact textarea {
width: 100%;
}

#copywright {
padding-top: 10px;
}

} 
